# Mac Mini (via Tailscale, keys in 1Password)
Host dylans-mac-mini
  HostName dylans-mac-mini
  User dbochman

# 1Password SSH Agent
Host *
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"

# GitHub
Host github.com
  HostName github.com
  User git
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
